body,
html {
  font-family: "Roboto", sans-serif;
}



#header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

#header.active{
  position: fixed;
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

#header .navbar-collapse{    /*necessário colocar?*/
    width: auto;
}

#header .nav-link{
  padding-left: 0;
  padding-right: 0;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
}

#header .nav-link:hover{
  border-bottom: 4px solid var(--secondary);
  color: var(--secondary);
}

#slider.activ{
  padding-top: 91.61px;
}

#slider{
  background: url(../assets/slider-bg.svg) no-repeat center bottom;
  background-size: contain;
}

#slider h1{
  font-weight: 900;
  text-transform: uppercase;
}

#slider h4{
  text-transform: uppercase;
  font-size: 18px;
}

#servicos a.destaque{
  display: block;
  background-color: var(--light);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  color: #000;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

#servicos a.destaque:hover{
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

#servicos p{
  color: var(--dark);
}

#servicos a.destaque .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

#servicos a.destaque .img-container img {
  max-height: 160px;
}

#clientes a.link-cliente{
  padding: 0 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light);
  height: 100px;
  transition: ease-out all 0.2s;
}

#clientes a.link-cliente:hover{
  transform: scale(1.2);
  box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
}

#clientes a.link-cliente img{
  filter: grayscale(100%);
  max-height: 70px;
  width: 100%;
  opacity: 0.6;
}

#clientes a.link-cliente img:hover{
  filter: none;
  opacity: 1;
}

#clientes .cliente-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: var(--light);
  border-radius: 5px;
}

#clientes .cliente-text .imagem{
  padding: 60px 0;
  display: flex;
  align-items: center;
  margin-left: -70px;
  color: #b4b4b4;
  font-size: 24px;
  line-height: 26px;
}

#clientes .cliente-text .imagem span{
  color: var(--secondary);
  font-size: 110px;
  line-height: 110px;
  letter-spacing: -10px;
  font-weight: 900;
  display: block;
}

#clientes .cliente-text .telefone{
  display: flex;
  font-size: 14px;
  color: #b4b4b4;
}

#clientes .cliente-text .telefone span{
  font-size: 25px;
  color: #797979;
  font-weight: 900;
  display: block;
}

#servicos .badge {
  font-weight: 400;
}

#servicos .element-item img {
  border-radius: 5px;
  transition: all ease-out 0.2s;
}

#servicos .element-item img:hover {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.7);
}

#servicos .button-group button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
}

#servicos .button-group button + button {
  margin-left: 30px;
}

#servicos .button-group button.active {
  color: var(--primary);
}

#servicosR .badge {
  font-weight: 400;
}

#servicosR .element-item img {
  border-radius: 5px;
  transition: all ease-out 0.2s;
}

#servicosR .element-item img:hover {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.7);
}

#servicosR .button-group button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
}

#servicosR .button-group button + button {
  margin-left: 30px;
}

#servicosR .button-group button.active {
  color: var(--primary);
}

#depoimentos .depoimento {
  background-color: var(--light);
  border-radius: 5px;
  display: flex;
  padding: 30px;
}

#depoimentos .depoimento .quote {
  max-width: 35px;
}

#depoimentos .depoimento .name {
  color: #aaaaaa;
}

#depoimentos .depoimento .name span {
  color: #000;
  font-weight: 700;
}

#contato .email {
  border-radius: 5px;
  background-color: var(--secondary);
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 30px;
}

#contato .email img {
  position: absolute;
  left: 30px;
  top: -30px;
}

#contato .email form {
  width: 60%;
  display: flex;
}

#contato .email .form-control,
#contato .email .form-control::placeholder {
  background: none;
  color: #fff;
}

#contato ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#contato ul li {
  display: flex;
  list-style-type: none;
  margin-left: 25px;
}

#contato ul li:first-child {
  margin-left: 0;
}

#contato ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all ease-out 0.2s;
}

#contato ul li a:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

#contato ul li img {
  max-height: 20px;
}